

/public/html
/public/build
/public/storybook
/node_modules

local/vendor/
vendor/
.idea/
.DS_Store
build
dist
*.log

html
node_modules
service-worker*.js

bitrix/*
!bitrix/admin
bitrix/admin/*
!bitrix/admin/a_*.php
!bitrix/.settings_extra.php

/upload
/test
test.php
local/php_interface/log.txt
local/vendor
local/php_interface/ym_log.txt
/.htaccess
.htaccess
.htpasswd
robots.txt
*.tar.gz
.DS_Store
log.txt
ym_log.txt
favicon.png
sitemap*
!/sitemap/
sitemap*.xml
sitemap.xml
sitemap_files.xml
sitemap_iblock_19.xml
sitemap_iblock_7.xml
.favorites.json
/.vscode
/_old
/_temp
.user.ini
php.ini
html/*
_docs/build
/import
/import/*
/export
/export/*
/images
/images/*

/_docs/*
!/_docs/.gitkeep

mysql_debug.sql
/.env
/html
/storybook
/local/php_interface/const_dev.php
